<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>
    <h2>Planet Earth</h2>
    <%= planetEarth.description %>
    <img src="<%= planetEarth.image %>">
    <%- include('partials/footer.ejs') %>
</body>
</html>