<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>
    <h2>Planet Venus</h2>
    <%= planetVenus.description %>
    <img src="<%= planetVenus.image %>">
    <%- include('partials/footer.ejs') %>
</body>
</html>